/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  box-sizing: border-box;
  font-family: -webkit-pictograph;
  height: 100%;
  width: 100vw;
}

header {
  position: fixed;
  background-color: #f7f7f7;
  z-index: 4;
  width: 100vw;
  padding: 1em 0;
  top: 0;
  left: 0;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 1em;
}

footer {
  bottom: 0;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

/*header*/

.upperHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2em;
}

.head h1 {
  margin: 0;
}

.menuNavbar {
  position: relative;
  width: 100%;
}

.menuNavbar li {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}

.nav {
  list-style: none;
  padding: 0;
}

.toolBar {
 position: relative;
 display: flex;
 justify-content: space-between;
 width: 100%;
 height: 1.5em;
 margin-left: 0.5em;
 border: 0;
}

.pageTitle {
 height: fit-content;
 margin: 0;
 padding: 0;
}

.pageTitle, h2 {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none
}

.overlay {
  position: fixed;
  background-color: #F0F0F0;
  display: grid;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
}

.toolBarButtons {
  background-color: #f7f7f7;
  width: 1.8em;
  height: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

.toolBarImages {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  top: 0;
  left: 0;
}

.searchBox {
  width: 80%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 15%;
  padding: 1% 2%;
}

.cartSearchGroup {
  display: flex;
  justify-content: space-between;
  width: 4em;
  margin-right: 1em;
}

.closeOverlay {
  position: relative;
  background-color: #F0F0F0;
  width: 1.8em;
  height: 1.8em;
  padding: 0;
  margin: 0;
  border: 0;
  top: 3.2em;
  left: 1.2em;
}

.menuSection {
  position: relative;
  height: fit-content;
  display: flex;
  width: 100%;
}

.menuSectionIcon-container {
  position: relative;
  width: 1.5em;
  height: 100%;
  margin: 0 1em;
}

.menuSectionIcon {
  width: 1.5em;
  height: 1.5em;
}

.menuSectionList-container {
  position: relative;
  height: fit-content;
  width: inherit;
}

.menuSectionList {
  font-size: 2em;
  list-style: none;
  border-bottom-style: solid;
  border-color: lightgray;
  padding: 0;
}

.menuSectionList li {
  color: gray;
  font-size: medium;
  padding-bottom: 0.5em;
}

/*body*/

.body {
    margin-top: 5em;
}

.top-banner {
  margin: 0;
  margin-top: 6em;
  margin-bottom: 2em;
}

/*footer*/