// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.section-header {
  position: relarive;
  display: flex;
}

.section-header a {
  position: absolute;
  margin-top: 8px;
  right: 0;
}

/*Random Product Section*/
.randomProduct-container {
  position: relative;
  background-image: linear-gradient( #949494, darkgray, #696969);
  width: 100vw;
  height: 75vw;
  left: -1em;
}

.randomProduct-details {
  position: absolute;
  color: ghostwhite;
  width: fit-content;
  height: fit-content;
  bottom: 4em;
  left: 1em;
}

.randomProduct-details p {
  margin: 8px 0;
}

.randomProduct-saveOverlay {
  position: absolute;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.saveButton {
  position: absolute;
  border-radius: 2em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 4em;
  height: 4em;
  bottom: 1em;
  right: 1em;
}

.saveButton-icon {
  width: 2em;
  height: 2em;
}

.randomProduct-saveLabel {
  position: absolute;
  background-color: lightgreen;
  border: 3px;
  border-style: solid;
  border-color: darkslategray;
  padding: 2px 4px;
  top: 0;
  left: 0;
}

/*Popular Products Section*/
.popularProducts-section {
  position: relative;
  border-bottom: lightgray;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 100%;
  height: fit-content;
}

.bannerScroll {
  display: inline-block;
  overflow: auto;
  width: 100%;
  white-space: nowrap;
}

.popularProducts-item {
  position: relative;
   display: inline-grid;
   text-align: center;
   width: 8em;
   height: 100%;
   margin: 0 0 1em 1em;
}

.popularProducts-img {
  background-color: black;
  text-align: center;
  width: 100%;
  height: 12em;
  margin-bottom: 1em;
}

.popularProducts-description {
  text-align: center;
  height: fit-content;
}

.popularProducts-description p {
  white-space: pre-wrap;
  margin: 0;
}

.popularProducts-price {
  color: gray;
  font-size: small;
}

.popularProducts-saveOverlay {
  position: absolute;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
}

.popularProducts-saveLabel {
  position: absolute;
  background-color: lightgreen;
  border: 3px;
  border-style: solid;
  border-color: darkslategray;
  padding: 2px 4px;
  left: 0;
}

/*Collections Section*/
.collections-section {
  position: relative;
  margin: 1em 0;
}

.collections-gallery {
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  grid-gap: 2em;
}

.collections-item {
  border: 1px solid #ccc;
  float: left;
  width: 45%;
}
.collections-item p {
  font-size: small;
  color: gray;
}

.collections-button {
  width: 100%;
}

/*Subscribe Section*/
.subscribe-section {
  position: relative;
  border-bottom: 2px solid lightgray;
  margin: 4em 0;
}

.subscribe-section h1 {
  position: relative;
  margin: 8px 0;
}

.subscribe-section p {
  position: relative;
  color: gray;
  font-size: smaller;
  margin: 0;
}

.subscribe-form {
  position: relative;
  display: flex;
  height: 5em;
  margin-top: 1em;
}

.subscribe-form #email_email {
  position: relative;
  font-size: medium;
  background-color: transparent;
  border: none;
  outline: none;
  width: 80%;
  height: 60px;
  padding: 0;
}

.subscribe-form #email_email:active {
  background-color: none !important;
}

.subscribe-submit {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2em;
  border: none;
  width: 4em;
  height: 4em;
  margin: 0.5em;
  padding: 0;
  right: 0;
}

.subscribe-icon {
  position: relative;
  width: 40%;
}