<% @product = Product.find(params[:id])  %>
<div class="body">
  <div class="imageDisplay-section">
    <% getAllImagesForProduct.each do |i| %>
      <%= image_tag "product_images/#{i.name}", class: "imageDisplay-image" %>
    <% end %>
  </div>

  <div class="productDetails-section">
    <h1><%= @product.name %></h1>
    <p>$<%= price_dollars(@product.price) %></p>
    <p><%= @product.description %></p>
  </div>

  <div class="productForm-section">

  </div>
</div>