<footer>
  <div class="footer-toolbar">
    <%= button_to "Home", root_path, method: :get %>
    <%= button_to "Scan", root_path, method: :get %>
    <%= button_to "Saved", login_path, method: :get %>
    <%= button_to "Account", "/users/" + session[:user_id].to_s, method: :get %>
  </div>
</footer>